/*
 * SMACSS approach for basic layout styling
 * ======================================================================== */
.l-site {
  position: relative;
}

.l-main {
  position: relative;
}

.l-content {
  position: relative;
  padding-top: 2rem;
}
