/*
 * Colours
 * ======================================================================== */
$col-white: #ffffff;
$col-light-grey: #e8e8e8;
$col-dark-grey: #4e4e4e;

$col-header-bg: #000000;
$col-link: #FE5F55;
$col-link-special: #00b4f6;

/*
 * Page Layout
 * ======================================================================== */

$page-margin: 1.875rem;
$page-max-width: 960px;
