.home-page__photo {
  width: 100%;
  height: auto;
}

.home-page__intro {
  margin-top: 2rem;
  font-weight: bold;
}

.home-page__outro {
  margin-top: 2rem;
  margin-bottom: 2rem;

  & > .columns {
    margin-bottom: 2rem;
  }
}
